<!-- signin.html -->
<form method="post">
    {% csrf_token %}
    <label>Username:</label>
    <input type="text" name="username"><br><br>
    <label>Password:</label>
    <input type="password" name="password"><br><br>
    <input type="submit" value="Sign in">
</form>

<!-- signup.html -->
<form method="post">
    {% csrf_token %}
    <label>Username:</label>
    <input type="text" name="username"><br><br>
    <label>Email:</label>
    <input type="email" name="email"><br><br>
    <label>Password:</label>
    <input type="password" name="password"><br><br>
    <input type="submit" value="Sign up">
</form>